body {
  background-image: url("https://st2.depositphotos.com/1106005/8169/i/600/depositphotos_81696382-stock-photo-teal-and-white-doggy-tile.jpg");
}

h1 {
  text-shadow: 1px 1px 2px white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-shadow: 1px 1px 2px white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
